@import url('bootstrap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Variable', sans-serif;
}


header {
    font-size: 0.8rem;
}


main {
    background-color: #1c1c1c;

    .jumbotron {
        width: 100%;
    }

    .icon_img {
        width: 55px;
    }

    section {
        background-color: #0282f9;
    }
    
}